
/* sets scores & time left to both corners of screens */
.navbar-container {
    max-width: none;
    color: black;
    size: 25px;
    
}
body {
    background-image: url(https://bgfons.com/uploads/stone/stone_texture180.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-attachment: fixed;
}
h1 {
    font-size: 43px;
    color: black
}
p {
    font-size: 26px;
}
ul {
    font-size: 22px;
    background-color: wheat;
    margin: auto;
    padding: auto;
}

.container {
    background-color: wheat;
    margin: auto;
    padding: 10px;
    border-radius: 27px;
}
.clearHighScore {
    margin: auto;
}

a {
    background-color: #ffffff;
    border: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
.clearHighScore {
    background-color: #17a2b8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
